.user {
  list-style: none;
  max-width: 300px;
  border-bottom: 1px solid darkred;
}

.user:hover {
  cursor: pointer;
  background-color: gainsboro;
  transition: all 0.5s;
}

.link {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}
