.user {
  padding: 0.5rem;
  list-style: none;
  max-width: 200px;
  border: 1px solid darkred;
  border-radius: 5px;
}

.user:hover {
  cursor: pointer;
  background-color: gainsboro;
  transition: all 0.5s;
}
